.blackCalculator a:hover { color:#A7A9AC; border:1px solid #ccc; }
.blackCalculator form input[type=text] { border:1px solid #C6C6C6; }
.blackCalculator form input[type=text]:hover { border:1px solid #AAAAAA; }